<!DOCTYPE html>
<html>
  <head>
    <title>Bbonds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <nav>
        <ul>
          <li>
            <%= link_to "Events", admin_events_path %>
          </li>
        </ul>
      </nav>

    <%= yield %>
  </body>
</html>
